h2,
figure {
  margin: 0;
}

.exhibition-spaces-section > article {
  margin: 150px auto;
  max-width: 1200px;
}

.exhibition-spaces-header {
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.exhibiton-space-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
}

.exhibition-space {
  padding: 20px 10px;
  display: flex;
  line-height: 3rem;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.exhibition-space img {
  border-radius: 30px;
  width: 100%;
  max-width: 450px;
  height: 300px;
  object-fit: cover;
  object-position: left;
}

.cta-btn-exhibition {
  background: #994a29;
  color: #fff;
  text-decoration: none;
  padding: 20px 150px;
  width: 500px;
}

.exhibition-space p {
  max-width: 450px;
}

/*MOBILE ONLY */
@media (max-width: 480px) {
  .exhibition-space img {
    height: 170px;
    border-radius: 5px;
  }
}
