h2 {
  color: #ab833c;
  margin: 40px 20px;
}

.exhibition-spaces-section > article {
  padding: 130px 20px;
}

.exhibition-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.exhibition-space > * {
  flex: 1;
  width: 400px;
  min-width: 270px;
}

.exhibition-space p {
  line-height: 1.8;
  color: #000;
}

.exhibition-space img {
  border-radius: 10px;
}

.exhibition-space figure {
  margin: 0;
}

.exhibition-spaces-section > article:nth-child(even) {
  background: #3e616c;
}

.exhibition-spaces-section > article:nth-child(even) p {
  color: #fff;
}

/*MOBILE ONLY */
@media (max-width: 480px) {
  .exhibition-space > * {
    min-width: 250px;
  }
}
