h2 {
  margin: 40px 0;
}

.exhibition-spaces-section > article {
  padding: 130px 20px;
}

.exhibition-spaces-header {
  margin-bottom: 100px;
  text-align: center;
  font-size: 2rem;
}

.exhibition-spaces-header img {
  margin: 30px 0;
  min-height: 350px;
  object-fit: cover;
}

.exhibition-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.exhibition-space > * {
  flex: 1;
  width: 400px;
  min-width: 275px;
}

.exhibition-space p {
  line-height: 1.8;
  color: #000;
}

.exhibition-space img {
  border-radius: 10px;
}

.exhibition-space figure {
  margin: 0;
}

.exhibition-spaces-section > article:nth-child(even) {
  background: #3e616c;
}

.exhibition-spaces-section > article:nth-child(even) p {
  color: #fff;
}

.exhibition-spaces-section > article:nth-child(even) h2 {
  color: #cfb947;
}

/*MOBILE ONLY */
@media (max-width: 480px) {
  .exhibition-space > * {
    min-width: 250px;
  }

  .exhibition-spaces-section > article {
    padding: 100px 0;
  }

  .exhibition-spaces-section > article p {
    max-width: 90%;
    margin: auto;
  }

  .exhibition-space img {
    border-radius: 0;
  }
}
