h2 {
  text-transform: uppercase;
  font-size: 3.5rem;

  font-weight: bolder;
}

h3 {
  color: #0a323f;
}

/* GET INVOLVED HEADER*/

.get-involved-header {
  text-align: center;
  font-size: 2rem;
}

.get-involved-header img {
  max-height: 600px;
  width: 1200px;
  object-fit: cover;
  object-position: center;
  margin-top: 50px;
  border-radius: 10px;
}

.support-us-header {
  text-align: center;
  font-size: 2rem;
  margin: 200px 0 100px;
}

/* HOW TO SUPPORT US ARTICLES */

.support-articles-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto 100px;

  gap: 5rem;
}

.support-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(#e3bd679c, #c79945de);
  padding: 20px 40px;
  box-shadow: 4px 6px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 550px;
  max-width: 100%;
  margin: 0 auto;
}

.support-article h3 {
  text-transform: uppercase;
}

.support-article p {
  line-height: 1.4;
}

.support-article img {
  height: 250px;
  width: 250px;
  border-radius: 500px;
}
