/* SLIDER */

.slider-section {
  margin: 0;
  padding: 40px 10px 100px;
}

.slider-container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  height: 600px;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
  border: 2px solid #0a323f;
}

.slides {
  max-width: 100%;
  width: 950px;
  height: 600px;
  background-size: cover;
  position: absolute;
  opacity: 0;
  animation: slide 30s infinite;
}

.slide-1 {
  background: url("../images/slider-img-1.jpg") no-repeat;
  background-position: center top;
  opacity: 1;
  animation-delay: 0s;
}

.slide-2 {
  background: url("../images/slider-img-2.jpg") no-repeat;
  background-position: right bottom;
  animation-delay: 10s;
}

.slide-3 {
  background: url("../images/slider-img-3.jpg") no-repeat;
  background-position: right center;
  animation-delay: 20s;
}

/* OVERLAY / TEXT INSIDE IMG*/
.sliders-overlay {
  height: 45%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sliders-overlay p {
  margin: 0 10px;
}
.slider-header {
  font-weight: bold;

  color: #fff;
}

.slider-text {
  color: #dfdfdf;
  width: 340px;
  max-width: 90%;
}

.slider-event-time {
  color: #fff;
}

.slider-read-more {
  color: #7a85ec;
  text-decoration: underline;
}

/* SLIDER ANIMATION*/

@keyframes slide {
  0%,
  100% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}

/* ABOUT MUSEUM */

h2 {
  color: #ffbe18;
  font-size: 2.5rem;
  font-weight: bolder;
}

.about-museum-section {
  padding: 200px 0;
  background: #3e616c;
}

/* To all Articles in about museum*/

.about-museum-container article {
  width: 90%;
  margin: auto;
  min-width: 250px;
  max-width: 420px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  border: 0.4px solid #f5f5f5;
}

.about-museum-container article img {
  height: 200px;
  width: 95%;
  object-fit: cover;
  margin: 0 auto;
}

.about-museum-container article h3 {
  color: #7e1f09;
}

/* MAIN ARTICLES AND EVENTS THIS WEEK*/

.main-articles-and-events-section {
  display: flex;
  width: 1500px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 95%;
}

/* MAIN ARTICLES */

.articles-container {
  margin: 100px auto;
  width: 800px;
  max-width: 100%;
}

.main-articles {
  max-width: 670px;
  margin: 100px auto 50px;
  background: #ffe9ac;
  padding-bottom: 20px;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.3);
  border: 2px solid #ffe9ac;
}

.main-articles a {
  text-decoration: none;
}

.main-articles h4 {
  color: #0a323f;
}

.main-articles p {
  max-width: 90%;
  margin: auto;
  line-height: 1.6;
}

.main-articles h4 {
  margin: 10px 0 30px;
}

.main-articles img {
  min-height: 300px;
  object-fit: cover;
}

/* MAIN ARTICLE HOVER*/

.main-articles:hover {
  background: #fff;
  border-color: #ffbe18;
  transition: 0.8s ease-in-out;
}

/*EVENTS SECTION */

.events-this-week {
  padding: 50px 10px;
  background: linear-gradient(#e7b04dde, #f5d692);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  max-width: 100%;
}

.all-events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.all-events-container a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.event-item {
  max-width: 100%;
  max-width: 400px;
  font-size: 80%;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  box-shadow: 7px 11px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.event-item img {
  display: block;
  object-fit: contain;
}

/* Event name + date and time*/
.event-item h3,
.event-name-date p {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.events-this-week h2 {
  color: #0a323f;
  margin-bottom: 80px;
}

.events-this-week h3 {
  color: #ffbe18;
}

.event-item p {
  color: #fff;
  width: 90%;
  margin: 0 auto;
}

.event-item .event-body-text {
  margin: 10px auto 0;
}

.event-item .slider-read-more {
  display: inline-block;
  margin: 0;
  padding: 5px;
}

.all-events-btn-container {
  max-width: 100%;
  margin-top: 100px;
}

/*MOBILE ONLY */
@media (max-width: 480px) {
  /* SLIDER */
  .slides {
    height: 400px;
    background-size: cover;
  }
  .slider-container {
    height: 400px;
  }
}

/*MOBILE AND PADS ONLY */
@media (max-width: 800px) {
  /*Carouselle - About Museum Articles*/

  .about-museum-container {
    flex-direction: column;
    margin: 100px auto 0;
    gap: 0;
    max-width: 95%;
  }
  .about-museum-container article {
    margin: 10px auto;
    width: 100%;
    border-radius: 0;
  }

  .event-overlay {
    background: #1e1c1c;
    padding: 20px 0;
  }
}

/* DESKTOP ONLY */
@media (min-width: 801px) {
  /* SLIDER */
  .slider-container {
  }

  /* Text overlay*/
  .event-overlay {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: -120px;
    padding: 10px;
  }
  /* Event Hovered*/
  .event-item:hover .event-overlay {
    bottom: 0;
    transition: 0.9s ease-in-out;
  }
}

@media (min-width: 1250px) {
  .about-museum-container {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    max-width: 1400px;
    justify-content: space-around;
    margin: auto;
  }
}
