/* ROOT */
:root {
  /* COLOURS */
  --header-background: #0a323f;

  --logo-red: #b66743;
  --logo-yellow: #cfb947;
  --logo-purple: #8b67d7;

  --btn-orange: #994a29;

  --body-text: #4b4b4b;

  --red-header: #8c2506;
}

/* UNIVERSAL SELECTOR */

* {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  background: #fff1cc;
  font-family: "Work Sans", sans-serif;
}

img {
  max-width: 100%;
}

nav,
.logo {
  display: inline-block;
}

/* COLOURS picker */
h3 {
  color: var(--header-background);
}

.logo p:nth-child(1) {
  color: var(--logo-red);
}

.logo p:nth-child(2),
.label-hamburger,
nav a,
footer p {
  color: var(--logo-yellow);
}

.logo p:nth-child(3) {
  color: var(--logo-purple);
}

h1 {
  font-size: 3rem;
}

h1,
h2 {
  margin: 0;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.red-text {
  color: var(--red-header);
}

p {
  color: var(--body-text);
}

/* Margin Reset */
body,
header,
.margin-reset,
.logo p {
  margin: 0;
}

.text-center {
  text-align: center;
}

.green-background {
  background: #3e616c;
}

/* HEADER */

header,
nav,
footer {
  background: var(--header-background);
}

header {
  font-size: 1.5rem;
  border-bottom: 2px solid #2c2c2c;
  margin-bottom: 150px;
}

header a {
  text-decoration: none;
}

.header-items-container,
nav {
  display: flex;
  z-index: 100;
}

.header-items-container {
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.header-items-container > input,
.label-hamburger {
  display: none;
}

.hamburger-icon {
  font-size: 2.5rem;
}

.logo {
  padding: 15px 20px;
}

.logo p {
  line-height: 1;
}

.logo p::first-letter {
  font-weight: bolder;
  font-size: 1.7rem;
}

/* NAVBAR */
nav {
  flex: 1;
  justify-content: space-evenly;
  max-width: 800px;
  align-self: stretch;
}

nav a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

/* NAV items active page */
.active {
  background: #16566a;
  font-weight: bold;
}

/* CTA BUTTON */

.cta-btn {
  text-decoration: none;
  color: #fff;
  background: var(--btn-orange);
  padding: 25px 0;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px auto;
  width: 400px;
  max-width: 100%;
  border-radius: 3px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}

.cta-btn:hover {
  background: #e06e3d;
  transition: 0.6s;
}

/* DIFFERENT BACKGROUND COLOURS / ARTICLE SECTIONS*/
.different-background-colours-articles article:hover {
  box-shadow: 7px 11px 10px rgba(0, 0, 0, 0.2);
}

.different-background-colours-articles article:first-child {
  background: #ffdab5;
}

.different-background-colours-articles article:first-child:hover {
  background: #fabb80;
  transition: 0.7s;
}

.different-background-colours-articles article:nth-child(2) {
  background: #fafab5;
}

.different-background-colours-articles article:nth-child(2):hover {
  background: #ffff92;
  transition: 0.7s;
}

.different-background-colours-articles article:nth-child(3) {
  background: #ede4ff;
}

.different-background-colours-articles article:nth-child(3):hover {
  background: #d4bfff;
  transition: 0.7s;
}

.different-background-colours-articles article {
  width: 90%;
  margin: auto;
  min-width: 250px;
  max-width: 420px;
  margin: 10px auto 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  border: 0.4px solid #f5f5f5;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.different-background-colours-articles article img {
  height: 200px;
  width: 95%;
  object-fit: cover;
  margin: 0 auto;
}

/* FOOTER*/

footer {
  padding: 50px 15px;
}

.footer-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-contact-container {
  max-width: 330px;
  margin: auto;
}

.footer-contact-header {
  text-align: center;
  font-size: 1.7rem;

  color: #fff;
}

.footer-contact-info {
  display: flex;
  align-items: center;
}

.footer-contact-info p:first-child,
.footer-contact-header {
  font-weight: bold;
}

.footer-contact-info p {
  max-width: 200px;
  min-width: 130px;
  margin: 5px;
}

/* FOOTER ICONS*/

.footer-follow-us-container {
  text-align: center;
  font-weight: bold;
  margin: auto;
}
.footer-icons-container {
  display: flex;
  gap: 2rem;
  max-width: 250px;
  margin: auto;
}

.footer-icons-container i {
  font-size: 3rem;
  color: var(--logo-yellow);
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*MOBILE ONLY */
@media (max-width: 480px) {
  html {
    font-size: 80%;
  }

  header nav {
    top: 95px;
  }
}

/*MOBILE AND PADS */
@media (max-width: 800px) {
  /* HEADER */

  header {
    position: fixed;

    width: 100%;
    z-index: 100;
  }
  main {
    padding-top: 150px;
  }
  .header-items-container {
    justify-content: space-between;
    margin: 0 10%;
  }
  /* Nav bar */
  nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 105px;
    left: 0;
    padding: 60px 0 120px;
  }
  nav a {
    display: block;
    padding: 20px;
    margin: 15px auto;
  }

  /*Hamburger menu*/
  .label-hamburger {
    display: inline-block;
  }

  /* HAMBURGER MENU CLICKED */
  #menu-checkbox:checked ~ nav {
    display: block;
  }
}
