h2 {
  text-transform: uppercase;
}

h3,
.visit-info-welcome {
  text-align: center;
}

h3 i {
  color: #4b8955;
}

/* VISIT INFO */

.visit-info-section {
  margin: 100px 0;
  padding-top: 50px;
}

.visit-info-container {
  padding: 20px;
  max-width: 1600px;
  margin: auto;
}

.visit-info-container > article {
  margin: 100px auto 0;
  box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 20px;
  background: linear-gradient(#e3bd679c, #c79945);
  width: 100%;
  max-width: 400px;
}

.visit-info-container > article:hover {
  background: #f1ca6f;
  transition: 0.3s;
}

.visit-info-welcome {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-size: 1.8rem;
}

.visit-info-welcome img {
  height: 550px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.visit-info-welcome p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* OPENING HOURS*/

.opening-hours-open {
  font-weight: bold;
}
.opening-hours-closed {
  font-weight: bold;
}

.opening-hours-container {
  padding: 0 10px;
}

.opening-hours-table th {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-decoration: underline;
}

.opening-hours-table td {
  padding: 5px 10px;
}

/* ADMISSIONS */

.admissions-article-container {
  max-width: 500px;
}

.all-admissions-container {
  padding: 40px 30px;

  border-radius: 80px;
}

.admission-bold-text {
  font-weight: bold;
  display: inline-block;
  text-decoration: underline;
  margin: 20px auto 0;
}

.admissions-article-container p {
  margin: 0;
}

/*  ACCESSIBILITY AND SHOPS */

.accesibility-and-shops {
  padding: 30px 20px;
}

.accesibility-and-shops > article {
  max-width: 280px;
  margin: 150px auto;
}

/* ICONS CONTAINERS */
.visit-info-icons-container {
  display: flex;
  justify-content: space-around;
}
.visit-info-icons-container i {
  color: #7e4040;
  font-size: 2.5rem;
  padding: 30px;
  background: #f3e8b4;
  border-radius: 50%;
  margin: 40px 0;
}

/* DESKTOP ONLY */
@media (min-width: 1250px) {
  .visit-info-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  /*  ACCESSIBILITY AND SHOPS */

  .accesibility-and-shops {
    display: flex;
    max-width: 1600px;
    margin: auto;
    gap: 2rem;
    padding: 0 20px;
  }
}
