.article-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.article-header img {
  min-height: 400px;
  object-fit: cover;
}

.article-main {
  max-width: 1000px;
  margin: 50px auto;
  font-size: 1.7rem;
  line-height: 1.6;
}

.article-main p {
  max-width: 630px;
  margin: 40px auto;
  width: 90%;
}

.article-image-container {
  display: flex;
  max-width: 100%;
  gap: 0.5rem;
  margin: 50px auto 150px;
}

/*MOBILE AND PADS ONLY */
@media (max-width: 900px) {
  .article-image-container {
    flex-wrap: wrap;
  }
}
